<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is the layout.ejs file.
    <%- partial('partial/header',{title:'yellow'}) %>
    <br>
    <%-body%>
    <br>
    I'm the base of all the templates.

</body>
</html>